<!DOCTYPE html>
<html>

<head>
  <link rel="icon" type="image/x-icon" href="<%= context.publicPath %>static/favicon.ico" />
  <meta charSet="utf-8" />
  <title>Your App</title>
</head>

<body>
  <div id="root"></div>
</body>

</html>
